<ion-content [scrollX]="true">
  <app-reader-localtxt [paths]="paths"></app-reader-localtxt>
  <p>
    <ion-button routerLink="/work/nakagaii/{{id-1}}" [disabled]="id-1<1">前</ion-button>
    <span *ngIf="0<id">ここは{{40+id}}話です。</span>
    <ion-button routerLink="/work/nakagaii/{{id+1}}" [disabled]="id+1>18">次</ion-button>
  </p>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <app-hide-button style="padding-right: 100vw;" (click)="hide.hideBar()"></app-hide-button>
  </ion-toolbar>
  <ng-container *ngIf="hide.hideBarFlag">
    <ion-button *ngFor="let p of paths;let i = index;" routerLink="/work/nakagaii/{{i+1}}" shape="round"
      [fill]="fill[i]">
      {{i+41}}話
    </ion-button>
  </ng-container>
</ion-footer>