.font-size-small {
  font-size: 0.55rem;
  line-height: 0.6rem;
  //   height: 60%;
}
.font-size-medium {
  font-size: 0.75rem;
  line-height: 0.8rem;
  //   height: 80%;
}
.font-size-default {
  font-size: 1rem;
  line-height: 1rem;
  //   height: 100%;
}
