<ion-toolbar>
  <ion-title slot="start">◆RfvRPhGqGQのホームページ</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div class="ion-margin">
    <h4>主として、2nd板消滅によって消えてしまった◆RfvRPhGqGQの作品補完をしています。</h4>
    <p> <a href="http://jbbs.shitaraba.net/bbs/read.cgi/otaku/15956/1511467859/" target="_blank">現避難所はこちら</a></p>
    <p class="ion-margin-top">当サイトの御利用につき、何らかのトラブルや損失・損害等につきましては一切責任を問わないものとします。
      <br>当サイトのURLおよび内容を転載することによる凸行為や荒しなど、他のインターネット利用者に迷惑のかかる使用方法を禁止します。</p>
  </div>

  <ion-footer>
    <ion-toolbar>
      <ion-title size="small">最終更新：2020.9.14 ◆RfvRPhGqGQ</ion-title>
      <ion-item href="https://github.com/rfvrph/home-page" button>
        <ion-icon slot="start" name="logo-github"></ion-icon>
        <ion-label>GitHub</ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-footer>

</ion-content>